body {
    background-color: #f7f7f7;
    font-family: Asap;
    margin:0;
}

#header {
    margin-bottom: 15px;
}

#logo {
    display: block;
    margin:15px auto;
    width: 20%; 
    height: auto;
}

.island{
    font-size: 1.3em;
    background-color: #b5e611;
    padding-top: 30px;
    min-height: 350px;
    border-radius: 3px;
}

.flashcard {
    background-image: url('../images/strip.png') !important;
    background-position: 0 -2px;
    border-style: solid;
    background-color: #fff;
    max-height: 260px;
    min-height: 260px;
    padding: 0;
    border: 1px solid #aaa;
    box-shadow: 3px 5px 15px #83a70c;
}

.flashcard.no-chrome{
    background-image: none !important;
    background-position: 0 -2px !important;
    border-color: transparent;
    box-shadow: none;
}
.flashcard p {
    background-image: url('/images/strip.png');
    background-position: 0 -2px;
    background-repeat: repeat-x;
    padding: 1.2em;
    line-height: 1.2em;
    font-size: 2em;
    text-align: center;
    max-height: 264px;
    margin-top: 0;
}

.flashcard p.clue {
    text-align: center;
}

.flashcard p.clue img{
    max-height: 200px;
}

.flashcard p.answer {
    display: none;
}

.buttons {
    text-align: center;
}

.button-std {
    display: inline-block;
    padding: 0.8em;
    color: #fff;
    background-color: #b5e611;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    font-weight: bolder;
}

.button-std:hover {
    box-shadow: inset 0 2px 2px #ccc;
}

.button-std:hover, .button-std:visited {
    color: #222;
}

div.choosers {
    margin:0 auto;
}

.button-std.flipper {
    background-color: #fff;
    color: #000;
}

.button-std.chooser {
    display: none;
}

.correct {
    margin-right: 25px;
    background-color: #fddc23; 
}

.incorrect {
    color: #000;
    background-color: #fff;
}
/* b5e611 green fddc23 yellow f7f7f7 grey*/


/* Browse page Css */
#tag-navigation-bar{
    background-color: black;
    color:white;
    padding:5px;
}

#tag-navigation-bar a{
    padding:3px;
    font-weight: bold;
    font-size: 16px;
    color:white;
    text-decoration: none;
}

#tag-navigation-bar a:hover{
    text-decoration: underline;
}

#tag-dictionary{

}

#tag-title{
    font-weight: bold;
    font-size: 15px;
}

#dic-letter{
    margin-bottom: 2px;
}

span.tag-value {
    padding:3px;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
    padding: 3px;
}

span.tag-value:hover{
    background-color:#d5e611;
    color:white;
}

span.tag-value a {
    text-decoration: none;
}

.inline-input{
    display: inline !important;
}

#search{
    margin-bottom: 3px;
}

li.deck-item{
    padding: 3px;
    background-color: white;
    margin-bottom: 3px;

}

li.deck-item a{
    text-decoration: none;
}

li.deck-item:hover{
    background-color: #d5e611;
    color:white;
}

div#intro {
    background-color: #b5e611;
    padding:10px;
    padding-top:50px;
    height:250px;
    border-bottom:5px solid black;
}
div.card p {
    position:absolute;
    top:25%;
    width:100%;
    font-size: 2.0em;
    text-align: center;
    line-height: 1.2em;
}
div.card {
    position:absolute;
    width:38%;
    text-align: center;
    margin-left:30%;
    margin-right:30%;
    height:200px;
    border:1px solid #443;
    background-image: url(../images/yellow_card.png);
}
#next_button {
    background-image: url(../images/next.png);
    width:123px;
    height:120px;
    position:absolute;
    top:18%;
    right:10%;
}

div#home_buttons {
    margin-top:10px;
    float:center;
    text-align: center;
    width:100%;
    padding-top: 5px;
}
#browse {
    background-color: #fddc23;
    width:200px;
    height:50px;
    margin:50px;
    font-size: 18px;
}
#sneak-peek {
    width:200px;
    height:50px;
    margin:50px;
    background-color: #b5e611;
    font-size: 18px;
}

div.footer{
    height:20px;
}

div#grailsfourtyeight {
    position:absolute;
    width:150px;
    height:156px;
    top:0;
    right:0;
    padding:0;
    margin:0;    
}